<!-- Animal card for main directory page, includes image and breed name, links to details page -->
<section class="details">
  <a href="/animal/{{id}}">
    <img src="/images/{{filename}}" alt="{{description}}">
    <div class="animal-details">
      <h3>{{animal_breed}}</h3>
      <p>Size: {{size}}</p>
      <p>Temperament: {{temperament}}</p>
      <p>Description: {{description}}</p>
    </div>
  </a>
</section>