<!-- Animal card for main directory page, includes image and breed name, card links to details page -->
<section class="card">
  <a href="/main/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>{{animal-breed}}</p>
    </div>
  </a>
</section>