<!-- wireframe 3 - animal breed detailes page -->
<section class="container">
  <h2 class="animal_breed">{{animal.animal_breed}}</h2>
  <section class="flex-row justify-left">

<div class="row">
  <div class="column" style="background-color:white;">
    <section class="details animal-details">
      <img src="/images/{{animal.filename}}" alt="{{animal.description}}">
      <p>Size: {{animal.size}}</p>
      <p>Temperament: {{animal.temperament}}</p>
      <p>Description: {{animal.description}}</p>
    </section>
  </div>

<div class="column">
    {{!-- Comments section for the detail page --}}
    <h3>🐾</h3>
    <h3>Comments:</h3>
    
    </div>

    <div class="comment-card">
      {{#if animal.comments}}
      <ul>
        {{#each animal.comments as |comment|}}
        <li>
          <p>{{comment.text}}</p>
          <p> - {{comment.user.username}}</p>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add comment here" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Submit</button>
  </div>
</div>
</div>
</section>





