<!-- Animal card for main directory page, includes image and breed name, links to details page -->
<section class="details">
  <img src="/images/{{animal.filename}}" alt="{{animals.description}}">
  <div class="animal-details">
    <h3>{{animals.breed}}</h3>
    <p>Size: {{animals.size}}</p>
    <p>Temperamemt: {{animals.temperamemt}}</p>
    <p>Description: {{animals.description}}</p>
  </div>
</section>